In [1]:
import pandas as pd
import selenium 
from selenium import webdriver
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
import re

driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Downloading: 100%|██████████| 8.81M/8.81M [00:00<00:00, 40.8MB/s]

In [7]:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [2]:
link = "https://www.opensecrets.org/members-of-congress/members-list?cong_no=117&cycle=2022&t0-search="

sen_df = pd.read_json('senators.json')
house_df = pd.read_csv('house.csv')

In [32]:
sen_df.head()

,lname,fname,party,state,Abortion Policy/Anti-Abortion,Abortion Policy/Pro-Abortion Rights,Candidate Committees,Democratic Candidate Committees,Democratic leadership PAC,Democratic/Liberal,...,Gun Control,Gun Rights,Human Rights,Leadership PACs,LGBTQIA Rights & Issues,Pro-Israel,Republican Candidate Committees,Republican leadership PAC,Republican/Conservative,Women's Issues
0,Arkoosh,Val,D,PA,0,500,4000,4000,5000,-8014,...,0,0,7529,5000,0,0,0,0,0,106012
1,Ayotte,Kelly,R,NH,0,0,-1000,0,0,0,...,0,0,0,0,0,0,-1000,0,0,0
2,Baer,Dan,D,CO,0,0,0,0,0,0,...,0,0,-575,0,0,0,0,0,0,0
3,Baldwin,Tammy,D,WI,0,300,8000,8000,60000,254550,...,0,0,1100,80000,1025,2000,0,0,0,1500
4,Barnes,Mandela,D,WI,0,65799,34900,34900,443500,661334,...,19733,0,154977,454150,21719,251415,0,0,0,5800

In [33]:
house_df.head()

,lname,fname,party,state,Abortion Policy/Anti-Abortion,Abortion Policy/Pro-Abortion Rights,Candidate Committees,Democratic Candidate Committees,Democratic leadership PAC,Democratic/Liberal,...,Gun Control,Gun Rights,Human Rights,Leadership PACs,LGBTQIA Rights & Issues,Pro-Israel,Republican Candidate Committees,Republican leadership PAC,Republican/Conservative,Women's Issues
0,Aadland,Erik,R,CO,0,0,16000,0,0,0,...,0,0,0,67500,0,7241,16000,49500,143386,0
1,Adams,Alma,D,NC,0,500,12900,12900,18250,9400,...,0,0,2462,18250,12,10900,0,0,0,500
2,Aderholt,Robert B,R,AL,500,0,10000,0,0,0,...,0,12243,0,40500,0,62650,10000,23000,3350,0
3,Adkins,Amanda,R,KS,16068,0,50650,0,0,0,...,0,15839,0,259550,0,11460,50650,180650,107436,26875
4,Aiken,Clay,D,NC,0,0,2000,2000,4000,-3230,...,0,0,8681,4000,8181,0,0,0,0,0

In [49]:
def search_cd():

    lname = sen_df['lname'].tolist()
    fname = sen_df['fname'].tolist()
    result = []
    for i in range(len(fname)):
        driver.get(link + (fname[i] + lname[i]))
        driver.implicitly_wait(1)
        results = driver.find_elements_by_xpath('//*[@id="DataTables_Table_0"]/tbody/tr/td[1]')
        for r in results:
            if (r.text == "No matching records found"):
                result.append(0)
            else:
                result.append(1)
    return result
                
    
swl = search_cd()

In [50]:
len(swl)

260

In [51]:
sen_df.insert(22, "result", swl)

In [52]:
sen_df
sen_df.to_csv("senate.csv")

In [40]:
def search_house():

    lname = house_df['lname'].tolist()
    fname = house_df['fname'].tolist()
    result = []
    for i in range(len(fname)):
        driver.get(link + (fname[i] + lname[i]))
        driver.implicitly_wait(1)
        results = driver.find_elements_by_xpath('//*[@id="DataTables_Table_0"]/tbody/tr/td[1]')
        for r in results:
            if (r.text == "No matching records found"):
                result.append(0)
            else:
                result.append(1)
    return result
                
    
hwl = search_house()

In [41]:
len(hwl)

886

In [42]:
house_df.insert(22, "result", hwl)

In [43]:
house_df

,lname,fname,party,state,Abortion Policy/Anti-Abortion,Abortion Policy/Pro-Abortion Rights,Candidate Committees,Democratic Candidate Committees,Democratic leadership PAC,Democratic/Liberal,...,Gun Rights,Human Rights,Leadership PACs,LGBTQIA Rights & Issues,Pro-Israel,Republican Candidate Committees,Republican leadership PAC,Republican/Conservative,Women's Issues,result
0,Aadland,Erik,R,CO,0,0,16000,0,0,0,...,0,0,67500,0,7241,16000,49500,143386,0,0
1,Adams,Alma,D,NC,0,500,12900,12900,18250,9400,...,0,2462,18250,12,10900,0,0,0,500,1
2,Aderholt,Robert B,R,AL,500,0,10000,0,0,0,...,12243,0,40500,0,62650,10000,23000,3350,0,1
3,Adkins,Amanda,R,KS,16068,0,50650,0,0,0,...,15839,0,259550,0,11460,50650,180650,107436,26875,0
4,Aiken,Clay,D,NC,0,0,2000,2000,4000,-3230,...,0,8681,4000,8181,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Young,Don,R,AK,0,0,0,0,0,0,...,5750,0,17500,0,0,0,16500,7758,0,0
882,Zeldin,Lee,R,NY,0,0,15000,0,0,0,...,0,200,63700,0,17750,15000,59700,43465,0,1
883,Zimm,Christian Gerard,R,GA,0,0,0,0,0,0,...,0,0,2000,0,0,0,0,3650,0,0
884,Zimmerman,Robert,D,NY,0,7500,60000,60000,110400,112583,...,0,48041,113300,27841,8366,0,0,0,0,0
885,Zinke,Ryan,R,MT,0,0,77750,0,0,500,...,41546,0,409650,0,14700,77750,305950,337058,0,0

In [45]:
house_df.to_csv("house.csv")

In [31]:
import re

sen_df = pd.read_csv('senate.csv', index_col=0)
house_df = pd.read_csv('house.csv')

In [24]:
print(sen_df['lname'][4])
sen_df.columns= sen_df.columns.str.lower()
sen_df.head()

Barnes

,lname,fname,party,state,anti_abortion,pro_abortion_rights,candidate_committees,democratic_candidate_committees,democratic_leadership_pac,democratic,...,human_rights,leadership_pacs,lgbtqia_rights,pro_israel,republican_candidate_committees,republican_leadership_pac,republican,womens_issues,result,total_donations
0,Arkoosh,Val,D,PA,0,500,4000,4000,5000,-8014,...,7529,5000,0,0,0,0,0,106012,0,125827
1,Ayotte,Kelly,R,NH,0,0,-1000,0,0,0,...,0,0,0,0,-1000,0,0,0,0,-2000
2,Baer,Dan,D,CO,0,0,0,0,0,0,...,-575,0,0,0,0,0,0,0,0,-862
3,Baldwin,Tammy,D,WI,0,300,8000,8000,60000,254550,...,1100,80000,1025,2000,0,0,0,1500,1,419711
4,Barnes,Mandela,D,WI,0,65799,34900,34900,443500,661334,...,154977,454150,21719,251415,0,0,0,5800,0,2213912

In [8]:
driver.get("https://ballotpedia.org/Election_results,_2022:_Congressional_margin_of_victory_analysis")

In [32]:
sen_df.head()

,lname,fname,party,state,anti_abortion,pro_abortion_rights,candidate_committees,democratic_candidate_committees,democratic_leadership_pac,democratic,...,leadership_pacs,lgbtqia_rights,pro_israel,republican_candidate_committees,republican_leadership_pac,republican,womens_issues,in_office,total_donations,votes
0,Arkoosh,Val,D,PA,0,500,4000,4000,5000,-8014,...,5000,0,0,0,0,0,106012,0,125827,NaN
1,Ayotte,Kelly,R,NH,0,0,-1000,0,0,0,...,0,0,0,-1000,0,0,0,0,-2000,NaN
2,Baer,Dan,D,CO,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-862,NaN
3,Baldwin,Tammy,D,WI,0,300,8000,8000,60000,254550,...,80000,1025,2000,0,0,0,1500,1,419711,NaN
4,Barnes,Mandela,D,WI,0,65799,34900,34900,443500,661334,...,454150,21719,251415,0,0,0,5800,0,2213912,1307282.0

In [27]:
results = driver.find_elements_by_class_name("marqueetable")

table = results[2].find_elements_by_tag_name('tr')



for i in range (sen_df['fname'].size):
    name = str(sen_df['fname'][i] + " " + sen_df['lname'][i])
    flag = False
    for r in table:
        if flag:
            break
        cols = r.find_elements_by_tag_name('td')
        try:
            if (name==str(cols[2].text)):
                sen_df.at[i, 'votes'] = (int(re.sub(",", "", cols[3].text)))
                print(int(re.sub(",", "", cols[3].text)))
                flag = True
            elif(name==cols[4].text):
                sen_df.at[i, 'votes'] = (int(re.sub(",", "", cols[5].text)))
                flag = True
        except:
            continue

1397170
723864
587990
1887701
54745
2329136
2637598
672242
298351
114031
1334680
1322027
739302
363620
481659
602976
709169
135972
980199
3202616
910397
4474847
227825
785330
742616
125483
922821
1820633
195295
736343
1090390

In [30]:
sen_df

,lname,fname,party,state,anti_abortion,pro_abortion_rights,candidate_committees,democratic_candidate_committees,democratic_leadership_pac,democratic,...,leadership_pacs,lgbtqia_rights,pro_israel,republican_candidate_committees,republican_leadership_pac,republican,womens_issues,result,total_donations,votes
0,Arkoosh,Val,D,PA,0,500,4000,4000,5000,-8014,...,5000,0,0,0,0,0,106012,0,125827,NaN
1,Ayotte,Kelly,R,NH,0,0,-1000,0,0,0,...,0,0,0,-1000,0,0,0,0,-2000,NaN
2,Baer,Dan,D,CO,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-862,NaN
3,Baldwin,Tammy,D,WI,0,300,8000,8000,60000,254550,...,80000,1025,2000,0,0,0,1500,1,419711,NaN
4,Barnes,Mandela,D,WI,0,65799,34900,34900,443500,661334,...,454150,21719,251415,0,0,0,5800,0,2213912,1307282.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Whitehouse,Sheldon,D,RI,0,0,1000,1000,75390,24900,...,76390,0,500,0,0,0,50,1,188645,NaN
256,Wicker,Roger,R,MS,0,0,2000,0,0,0,...,200500,0,0,2000,200000,19287,0,1,423788,NaN
257,Williams,Cordie,R,CA,0,0,0,0,0,0,...,0,0,0,0,0,5000,0,0,5000,NaN
258,Wyden,Ron,D,OR,0,2362,6500,6500,271500,281238,...,282000,18672,197974,0,0,0,0,1,1251836,736343.0
259,Young,Todd,R,IN,66,0,7000,0,0,227420,...,322400,0,170528,7000,262500,140223,0,1,1186935,1090390.0

In [33]:
sen_df.to_csv('senators.csv')
sen_df.to_json('senators.json')